
$font-family-muli: 'Muli', sans-serif;
$header1-size: 3.25rem;
$font-color-white: #dbdbdb;
$font-weight-bold: 500;
$content-box-color: #F9F9F9;
$clickable-color: #007a8a;
$clickable-hover: #016168;
$dark-grey: #595959;
$purple-color: #a21a5b;
$teal-color: #007a8a;
$box-shadow: 1px 1px 1px 1px #ccc;
