
h1.redundancy-title {
  font-weight: $font-weight-light;
  color:white;
  font-size: $header1-size;
}
.advice-title p.redundancy  {
  color: $teal-color;
  font-weight: 500;
  font-family: $font-family-muli;
  font-size: 2.5rem;
  display: block;
}

.advice-title p.advice-lead {
  color: $dark-grey;
  font-size: 2rem;
}

.email-signup {
  color:white;
  font-weight: $font-weight-bold;
  top:50%;
  margin-top:50px;
}

.email-icon {
  width: 26px;
  height: 20px;
  content: url("../../images/email.svg");
  background-repeat: no-repeat;;
  color: white;
  margin-right: 1rem;
}

.jumbotron.redundancy {
  background-image: none;
  background-color: $purple-color;
}

.advice-title.short-guide {
  background-color: $content-box-color;
  padding: 4rem;
  margin-bottom: 2rem;
  box-shadow: 2px 1px 1px 1px #ccc;
}
.redundancy-advice-options.row {
  margin: 5rem 0;
}

.redundancy-advice-options button.more-advice.btn.btn-primary.btn-lg {
  width: 100%;
  padding: 30px;
  background-color: $teal-color;
  color: white;
  font-size: 2rem;
  font-weight: $font-weight-bold;
  margin-bottom: 1rem;
}

.feedback-icon {
  width: 26px;
  height: 20px;
  content: url("../images/feedback.svg");
  background-repeat: no-repeat;;
  color: $clickable-color;
  margin-right: 1rem;
}

.redundancy.show-more-advice {
  margin: 5rem 0;
}

.right-arrow-icon {
  width: 26px;
  height: 20px;
  content: url("../images/right-arrow.svg");
  background-repeat: no-repeat;;
  color: $clickable-color;
  margin-right: 1rem;
}

.menu-bar {
  background-color: $content-box-color;
}


.utility p {
  color: $teal-color;
  display: inline-block;
}

.social-icons p {
  display: inline-block;
  color: $teal-color;
}

.linkedin-icon {
  content: url("../images/linkedin.svg");
  color: $clickable-color;
  margin-right: 1rem;
}

.facebook-icon {
  content: url("../images/facebook.svg");
  color: $clickable-color;
  margin-right: 1rem;
}

.twitter-icon {
  content: url("../images/twitter.svg");
  color: $clickable-color;
  margin-right: 1rem;
}

.save-icon {
  content: url("../images/save.svg");
  color: $clickable-color;
  margin-right: 1rem;
}

.email-green-icon {
  content: url("../images/email-green.svg");
  color: $clickable-color;
  margin-right: 1rem;
}

.print-icon {
  content: url("../images/print.svg");
  color: $clickable-color;
  margin-right: 1rem;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
}
